<!--
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{headerPageTitle}}
    </ion-title>
  </ion-navbar> -->

<ion-navbar>
  <button menuToggle *ngIf="menuToggle">
      <ion-icon name="menu"></ion-icon>
    </button>
  <ion-title>
    {{headerPageTitle}}
  </ion-title>
  <ion-buttons end>
    <button *ngIf="addPageClick" ion-button (click)="goToAddPage()">
        <ion-icon  name="add-circle"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
