<!-- <ion-navbar *navbar>
  <ion-title>
    Angular Fire Test App
  </ion-title>
  <ion-buttons end>
    <button (click)="logoutClicked()">
            <ion-icon name="contact"></ion-icon>
            {{buttonTitle}}
        </button>
  </ion-buttons>
</ion-navbar> -->

<!-- <ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header> -->

<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button>
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
    <ion-segment>
      <ion-segment-button value="new">
        New
      </ion-segment-button>
      <ion-segment-button value="hot">
        Hot
      </ion-segment-button>
    </ion-segment>
    <ion-buttons end>
      <button>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-header>

  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Home
    </ion-title>

    <ion-buttons end>
      <button (click)="openModal()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header> -->

<main-header-navbar headerPageTitle="Home"></main-header-navbar>

<ion-content class="home">
  <new-planned-expenses></new-planned-expenses>
  <!-- <ion-item>
        <ion-row>
            <ion-col width-80 style="margin-top:8px">
                <div *ngIf="displayName">You are logged in as {{authInfo && displayName}}</div>
                <div *ngIf="!displayName">Please log in</div>
            </ion-col>
            <ion-col width-20>
                <button (click)="addNewItemClicked()">Add Item</button>
            </ion-col>
        </ion-row>
    </ion-item>
    <ion-card *ngFor="let item of textItems | async">
        <ion-card-header>
            {{item.title}}
        </ion-card-header>
        <ion-card-content>
            {{item.description}} - {{ item.timestamp | MomentDate:"LLL"}}
        </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let user of usersWithMessages | async">
        <ion-card-header>
            {{user.displayName}}
        </ion-card-header>
        <ion-card-content>
            {{ (user.messages | async) | json}}
        </ion-card-content>
    </ion-card>
    <ion-card class="info" *ngFor="let item of expenses | async">
        <ion-card-content>{{item.at}}</ion-card-content>
    </ion-card> -->
</ion-content>
